doctype html
html.no-js(lang='en', dir='ltr')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Knowledge Base
        link(rel='stylesheet', href='/css/foundation.css')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans")

    body
        .top-bar
            .grid-container
                .top-bar-left
                    ul.dropdown.menu(data-dropdown-menu='')
                        li.menu-text Knowledge Base
                        li
                            a(href='/articles') Articles
                        li
                            a(href='/articles/new') New Article
                .top-bar-right

        block content

        footer.title-bar
            .grid-container
                span.title-bar-title Copyright © #{new Date().getFullYear()}
        script(src='/js/vendor/jquery.js')
        script(src='/js/vendor/what-input.js')
        script(src='/js/vendor/foundation.js')
        script(src='/js/app.js')