extends ../layout

block content
    .cell
        ul.no-bullet.article-index
            each article, i in articles
                li
                    a(href=`/articles/${article.id}`)= article.title
