extends ../layout
block content
    h1= title

    form(method="POST", action="/articles")
        label(for='name') Title:
        input(name='title', id='name', required)
        label(for='author') Author:
        input(name='author', id='author', required)
        label(for='body') Body:
        textarea(name='body', id='body', required)
        button(type='submit') Submit
