extends ../layout
block content
    .grid-container
        .cell
            form(method="POST", action="/articles")
                label
                    | Title:
                    input(type='text', placeholder='Title', name='title', required, autofocus,
                    value=(article===undefined ? '' : article.title))
                label
                    | Body:
                    textarea(name='body', placeholder='Body', required)= (article===undefined ? '' : article.body)
                button.button(type='submit') Submit
