extends ../layout

block content
    if (article !== undefined)
        .grid-container.grid-x
            .cell
                h1= article.title

                p Written by #{article.author}

                p= article.body
