extends ../layout

block content
    .grid-container.grid-x
        .cell
            if (article !== undefined)
                p Written by #{article.author}
                p= article.body

                hr

                .button-group
                    a.button.warning(href=`/articles/${article._id}/edit`) Edit
                    a.button.danger#js-delete-article(data-article-id=article._id, data-redirect='/articles') Delete
