extends ../layout
block content
    .grid-container
        .cell
            form(method="POST", action="/users/register")
                label
                    | Name:
                    input(type='text', name='name', required
                    value=(user===undefined ? '' : user.name))
                label
                    | Email:
                    input(type='email', name='email', required
                    value=(user===undefined ? '' : user.email))
                label
                    | Username:
                    input(type='text', name='username', required
                    value=(user===undefined ? '' : user.username))
                label
                    | Password:
                    input(type='password', name='password', required)
                label
                    | Confirm password:
                    input(type='password', name='password2', required)
                button.button(type='submit') Submit